In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('../train.csv')

In [8]:
train.columns

Index([u'label', u'clickTime', u'conversionTime', u'creativeID', u'userID',
       u'positionID', u'connectionType', u'telecomsOperator'],
      dtype='object')

In [9]:
train.shape

(3749528, 8)

In [11]:
train.drop_duplicates().shape

(3692105, 8)

In [12]:
3749528-3692105 # 五万多是重复的

57423

In [15]:
def unique_shape(df):
    for c in df.columns:
        print c, df[c].unique().shape

In [16]:
unique_shape(train)

label (2L,)
clickTime (20160L,)
conversionTime (18207L,)
creativeID (6315L,)
userID (2595627L,)
positionID (7219L,)
connectionType (5L,)
telecomsOperator (4L,)

In [17]:
df_ad = pd.read_csv('../ad.csv')

In [19]:
unique_shape(df_ad)

creativeID (6582L,)
adID (3616L,)
camgaignID (720L,)
advertiserID (91L,)
appID (50L,)
appPlatform (2L,)

In [20]:
df_ad_cate = pd.read_csv('../app_categories.csv')

In [22]:
unique_shape(df_ad_cate)

appID (217041L,)
appCategory (28L,)

In [25]:
df_ad.appID.dtype

dtype('int64')

In [26]:
df_installed = pd.read_csv('../user_installedapps.csv')

In [30]:
df_installed.groupby('userID').count().reset_index()

          userID  appID
0              1     79
1              9      3
2             10     97
3             12     38
4             14     62
5             16     60
6             17     90
7             20    106
8             21     49
9             22     35
10            24     62
11            25    124
12            26     53
13            27     98
14            28      4
15            31     81
16            32     70
17            33     29
18            34     49
19            35     51
20            37     38
21            39     97
22            40     87
23            41     46
24            42     72
25            44     58
26            45     27
27            47     28
28            49     57
29            50     63
...          ...    ...
1446075  2805048     57
1446076  2805056     18
1446077  2805057     71
1446078  2805058     59
1446079  2805060     57
1446080  2805061     38
1446081  2805064     32
1446082  2805065     65
1446083  2805067     14
1446084  2805070     25
1446085  2805071     39
1446086  2805080     52
1446087  2805081     45
1446088  2805082     30
1446089  2805086     29
1446090  2805087     85
1446091  2805088     68
1446092  2805089     76
1446093  2805090     41
1446094  2805094     89
1446095  2805095     53
1446096  2805099     95
1446097  2805100     87
1446098  2805101     47
1446099  2805103    125
1446100  2805104     50
1446101  2805105     37
1446102  2805107     31
1446103  2805111     52
1446104  2805117     58

[1446105 rows x 2 columns]

In [3]:
train.columns

Index([u'label', u'clickTime', u'conversionTime', u'creativeID', u'userID',
       u'positionID', u'connectionType', u'telecomsOperator'],
      dtype='object')

In [ ]:
df =train.groupby(['creativeID']).count()
df = pd.DataFrame(df.rename(columns={'label':'count'})['count'])
df

# 训练样本的点击率很高

            count
creativeID
1               5
2               4
3              15
4               1
5               7
6             149
7              66
8               4
9               2
10             11
11            690
12             15
13            354
14              1
15             80
16              3
17              9
18              1
19             26
20             88
21              6
22            650
23           1056
24              9
25             30
26            292
27             58
28              2
29              2
30             24
...           ...
6553           25
6554            6
6555          627
6556           19
6557           33
6558            6
6559          892
6560            2
6561           84
6562            3
6563            2
6564           27
6565           14
6566          224
6567         2134
6568           64
6569           57
6570          627
6571            1
6572           14
6573          106
6574           20
6575            1
6576          109
6577          163
6578           13
6579            3
6580           16
6581          250
6582            7

[6315 rows x 1 columns]